body {
  font-family: "Titillium Web", sans-serif;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(315deg, #86c0b9, #9fe4db);
}

.ctnr {
  justify-content: center;
  align-items: center;
}

.batton a {
  text-decoration: none;
}

.gototop a {
  text-decoration: none;
  color: black;
}

.batton {
  width: 134px;
  margin: 4px;
  border-radius: 21px;
  background: linear-gradient(315deg, #75cc8b, #8bf3a5);
  box-shadow: -5px -5px 10px #79d38f, 5px 5px 10px #8bf3a5;
}

.nav-brand a {
  text-decoration: none;
}

.navbar_1,
.card,
.footer {
  border-radius: 29px;
  background: linear-gradient(225deg, #aae2d5, #8fbeb3);
  box-shadow: -5px 5px 8px #5f7f77, 5px -5px 8px #dfffff;
}

.navbar_2 {
  border-radius: 29px;
  background: linear-gradient(225deg, #89a7cc, #738cac);
  box-shadow: -5px 5px 8px #4d5e73, 5px -5px 8px #b3daff;
}

.row3,
.row,
.featurette {
  border-radius: 29px;
  background: linear-gradient(225deg, #89a7cc, #738cac);
  box-shadow: -5px 5px 8px #4d5e73, 5px -5px 8px #b3daff;
  color: black;
}

.text-center {
  font-weight: bolder;
}

.headp {
  font-size: 1.1rem;
  font-weight: bold;
}

code {
  color: black;
}
